

MONGODB_URI=

# ===============================
# SERVER
# ===============================
PORT=3001
CORS_ORIGIN=http://localhost:3000


# ===============================
# JWT (Access / Refresh)
# ===============================
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=
